---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
      <div class="blog-logo" {% if site.logo %}style="background-image: url({{ site.logo | prepend: site.baseurl }})"{% endif %}>
        {{ site.title }}
      </div>
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}

      <strong><a href={{ "/resume/" | prepend: site.baseurl }}>Resume</a></strong>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <strong><a href={{ "/projects/" | prepend: site.baseurl }}>Projects</a></strong>
    </div>
</header>


<main class="content" role="main">


  <div>
    <h3>Hello guys!</h3> 
    <p>
    My name is Homayoon! I'm currently studying BSc. in <a href="https://en.sharif.edu">Sharif University of Technology</a>, Iran.<br/>
    I'm passionate a Full Stack Developer, with most interest and experience in Backend Technologies.<br/>
    Considering Blockchain, Distributed Systems and DApps as my long-term career path. Have been dedicatedly learning and searching this interesting and immense field.<br/>
    Focued on learning related skills and improve in what I do, every single day.<br/>
    Also have intermediate experience in Data Science and Machine Learning.
    </p>
    </div>
    
    <p>
    Make sure to <b>Contact</b> me if you needed to:
    </p>
    <div align="center">
  
      <a href="https://linkedin.com/homayoon-alimohammadi/" style="text-decoration: none">
        <img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white" />
      </a>
    <a href="https://twitter.com/homayoonalm">
    <img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=Twitter&logoColor=white" />
    </a>
    
    </div>
    
    <div>
    <p>
    Also Consider Checking out my Instagram (it's in <b>Persian</b>)
    </p>
    <a href="https://www.instagram.com/code_bama/">
    <p align="center">
    <img src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=Instagram&logoColor=white" />
    </p>
    </a>
    </div>

</main>
