---
layout: default
---
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a {
      text-decoration: none;
      color: rgb(255, 94, 0);
      /* font-size: 30px; */
      font-weight: bold;
    }

    .fa {
      opacity: 0.6;
    }
  </style>
</head>

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
      <div class="blog-logo" {% if site.logo %}style="background-image: url({{ site.logo | prepend: site.baseurl }})"{% endif %}>
        {{ site.title }}
      </div>
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}

      <strong><a href={{ "/resume/" | prepend: site.baseurl }}>Resume</a></strong>
    </div>
</header>


<main class="content" role="main">


  <div>
    <h3>Hello guys!</h3> 
    <p>
      I'm currently a student in <b>Materials Science and Engineering</b> at <b>Sharif University of Technology</b>.
      Intermediate experienced in applications of <b>Machine Learning in Materials Science</b>.
    </p>
    </div>
    <div>
      <p>
        You can Checkout my <a href="/resume">Resume</a>, in case you're interested!
      </p>
      <p>There is also link to my <a href="https://github.com/nooshinrajabi/">GitHub</a> profile.</p>
    </div>    
    <p>
    Make sure to <b>Contact</b> me if you needed to:
    </p>
    <div align="center">
  
      <a href="https://linkedin.com/in/nooshin-rajabi/" style="text-decoration: none">
        <img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white" />
      </a>
    <a href="https://twitter.com/NushinRajabi">
    <img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=Twitter&logoColor=white" />
    </a>
    <a href="https://telegram.me/nushrj">
      <img src="https://img.shields.io/badge/Telegram-26A5E4?style=for-the-badge&logo=Telegram&logoColor=white" />
      </a>
      <p style="text-align:center">
        <i id="icon-phone" style="font-size:24px" class="fa">&#xf095;</i>&nbsp;
        <i id="icon-telegram" style="font-size:22px" class="fa">&#xf2c6;</i>&nbsp;
        <i id="icon-whatsapp" style="font-size:24px" class="fa">&#xf232;</i>&nbsp;
       +98 919 661 6153
      </p>
      <p style="font-size: 18px;">
        <i style="font-size:22px" class="fa">&#xf0e0;</i>&nbsp;
         nooshin.rajabi1999@gmail.com
       </p>
    
    </div>
    <br/>

</main>
