---
layout: default
title: Resume
permalink: /resume/
---


<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">

  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
  <!-- <script src="https://kit.fontawesome.com/1baae62b3f.js" crossorigin="anonymous"></script> -->
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <style>
      a {
        text-decoration: none;
        color: rgb(255, 136, 0);
        /* font-size: 30px; */
      }
      h1 {
        text-align: center;
        /* background-color: rgb(199, 199, 199); */
      }
      hr {
        margin-top: 20px;
      }
      .mid-section {
        width: 50%;
        opacity: 0.4;
      }
      tr {
        text-align: center;
        /* margin: 100px; */
      }
      .top-section {
        height:4px;
        border-width:0;
        color:gray;
        background-color:gray;
        margin-top: 80px;
      }
      td {
        background-color: rgb(218, 218, 218);
        padding: 12px;
        border-radius: 15px;
        /* margin: 10px; */
      }

      i {
        font-size: 300px;
      }
      h3 {
        opacity: 0.7;
      }
      .iconify {
        font-size: 20px;
        opacity: 0.6;
      }
      #icon-phone, #icon-location, #icon-mail, #icon-telegram, #icon-whatsapp {
        opacity: 0.6;
      }

      .download-resume {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0px;
      }

      .download-button {
        border-radius: 10px;
        width: 240px;
        height: 40px;
        border-width: 2px;
        border-color: rgb(255, 136, 0);
        background-color: white;
        border-style: solid;
        color: rgb(255, 136, 0);
      }

      .download-button:hover {
        border-radius: 10px;
        width: 240px;
        height: 40px;
        border-width: 2px;
        border-color: rgb(255, 136, 0);
        background-color: rgb(255, 228, 212);
        border-style: solid;
        color: rgb(255, 136, 0);
        cursor: pointer;
      }
    </style>


      <div class="blog-logo" {% if site.logo %}style="background-image: url({{ site.logo | prepend: site.baseurl }})"{% endif %}>
        {{ site.title }}
      </div>
    <h1 class="blog-title" style="font-size: 35px;">Nooshin Rajabi</h1>
    <!-- <h2 style="text-align: center; opacity: 0.7; font-style:italic;">Materials Scientist</h2> -->
    <div style="opacity: 1; text-align:center">
     <p style="font-size: 18px;">
      <i id="icon-phone" style="font-size:24px" class="fa">&#xf095;</i>&nbsp;
      <i id="icon-telegram" style="font-size:22px" class="fa">&#xf2c6;</i>&nbsp;
      <i id="icon-whatsapp" style="font-size:24px" class="fa">&#xf232;</i>&nbsp;
       +98 919 661 6153  &emsp;&emsp;
       <i id="icon-location" style="font-size:24px" class="fa">&#xf041;</i>&nbsp;
       Tehran, Iran
     </p>
     <p style="font-size: 18px;">
        <i style="font-size:22px" class="fa" id="icon-mail">&#xf0e0;</i>&nbsp;
        nooshin.rajabi1999@gmail.com
       </p>
     <a href="mailto: nooshin.rajabi1999@gmail.com" style="font-size:35px" class="fa fa-envelope"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://twitter.com/NushinRajabi" style="font-size:35px" class="fa fa-twitter"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://www.linkedin.com/in/nooshin-rajabi/" style="font-size:35px" class="fa fa-linkedin"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://github.com/NooshinRajabi" style="font-size:35px" class="fa fa-github"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://nooshinrajabi.github.io" style="font-size:35px" class="fa fa-globe"
     target="_blank" rel="noopener noreferrer"></a>
     
    </div>
    <div class="download-resume">
      <a href="https://drive.google.com/file/d/1pAVrwX9zbeP99hb3vLWnwvWSlb4Glhu5/view?usp=sharing"

      target="_blank" rel="noopener noreferrer">
        <button class="download-button">
          
            <span class="iconify" style="font-size:18px" data-icon="fa-solid:download"></span>
            <span style="font-size: 18px;">
              <b>Resume PDF</b>
          </span>
         
        </button>
      </a>
    </div>
    
</header>

<main class="content" role="main">



<div>
<hr class="top-section">
<h1>About Me</h1>
<hr>
<p style="font-size: 18px;">
  I'm currently a student in <b>Materials Science and Engineering</b> at <b>Sharif University of Technology</b>.
  Intermediate experienced in applications of <b>Machine Learning in Materials Science</b>.
  Interested in <b>Additive Manufacturing</b>.
</p>
</div>



<hr class="top-section">
<h1>Education</h1>
<hr>
<div>
  <h2>B.Sc. in Materials Science and Engineering</h2>
  <p>
  <h3>
    Sharif University of Technology
  <a href="https://en.sharif.edu/" target="_blank" rel="noopener noreferrer">
  <i style="font-size:20px" class="fa">&#xf08e;</i>
  </a>
  </h3> 
  Ranked first university in Iran accroding to <a href="https://www.universityrankings.ch/results?ranking=QS&region=World&year=2022&q=Iran">QS world university ranking 2022</a> <br/><br/>
  <span style="font-style:italic">
  2018 - Present &emsp;&emsp;&emsp;&emsp; Tehran, Iran<br/>
  </span>
  </p>
    <li>
      <b>GPA of last two years: 3.80/4</b> (via 54 credits)
    </li>
    <li>
      Overall GPA: 3.19/4 (via 120 credits)
    </li>
</div>
  
<hr class="mid-section">

<div>
<h2>High School Diploma</h2>  
<p>

<h3>Farzanegan 1 (The Subsidiary of National Organization for Development of Exceptional Talents)
<a href="https://en.wikipedia.org/wiki/Tehran_Farzanegan_School" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h3>
<span style="font-style:italic;">
2014 - 2018 &emsp;&emsp;&emsp;&emsp; Tehran, Iran<br/>
</span>
</p>
<li>
  Graduated as a top student
</li>
</div>


<hr class="top-section">
<h1>Interests</h1>
<hr>
<div>
  <h3><li>Microstructure and Mechanical Properties of <b>Advanced Materials</b></li></h3>
  <h3><li>Additive Manufacturing</li></h3>
  <h3><li>Machine Learning / Deep Learning</li></h3>
  <h3><li>Novel Characterization Methods</li></h3>
  <h3><li>Nanomaterials</li></h3>
  <h3><li>Electrochemical Energy Storage Systems</li></h3>
</div>
  


<hr class="top-section">
<h1>Publications</h1>
<hr>
<div>
  M. Hassanzadeh Azar, S. Aynehband,, <b>N. Rajabi</b>, H. Alimohammadi, A. Simchi
  <h3>
    A simulation study on the figures of merit of perovskite-based photovoltaic devices via
    SCAPS-1D empowered by machine learning: The effect of active and hole transport layers
  </h3>
  <li>
    Soon to be submitted.
  </li>
</div>
<hr class="mid-section">
<div>
  M. Saeedi, M. Amidian, <b>N. Rajabi</b>, H. Alimohammadi, A. Simchi
  <h3>
    Multilayered Mesoporous Composite Nanostructures for highly selective quantificatoin of Morphine
  </h3>
  <li>
    Under preparation.
  </li>
</div>


<hr class="top-section">
<h1>Experiences</h1>
<hr>
<div>
<h2>Research Group Member</h2>

<p><h3>
Center of Nanostructured and Advanced Materials (CNAM)
<a href="https://cnam.ir/" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</h3>
</a>
</p>
<span style="font-style:italic">
02/2021 - Present &emsp;&emsp;&emsp;&emsp; Tehran, Iran

<p>
Leading research lab located at <b>Sharif University of Technology</b>.
</p>
</span>
<li>
  <b>Skills:</b> Electrochemistry - Nanostructured and Porous Materials
</li>
<li>
  <b>Research Director:</b> Dr. A.Simchi
</li>
</div>

<hr class="mid-section">


<div>
<h2>Additive Manufacturing Intern</h2>

<p><h3>
Additive Manufacturing and Materials Lab
<a href="https://www.mapnagroup.com/" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</h3>
</a>
</p>
<span style="font-style:italic">
02/2021 - Present &emsp;&emsp;&emsp;&emsp; Tehran, Iran

<p>
  Turbine Engineering and Manufacturing Company. <b>Researching on the Applications of Machine Learning in Selective Laser Melting
  (SLM))</b>
</p>
</span>
<li>
  <b>Skills:</b> Additive Manufacturing - Machine Learning - Selective Laser Melting
</li>
<li>
  <b>Supervisor:</b> H.Davarzani
</li>
</div>




<hr class="top-section">
<h1>Honors and Awards</h1>
<hr>
<div>
      <h3>
      4th place e in <b>Rahneshan</b> competition administered by Iran's National Elites foundation. With Team Project of <b>Patient-Specific 3D Bio-Printed Wound-Dressing</b> 
    </h3>(March 2020 - September 2020)

  <hr class="mid-section">
  <h3>
    <b>Ranked top 1%</b> among ~145,000 participants in Iran's National Universities entrance for governmental scholarship of B.Sc. 
  </h3>(September 2018)
</div>


<hr class="top-section">
<h1>Projects</h1>
<hr>
<div>
  <h3>
    Investigation of Structure - Performance Relation of Metal-Oxide Supercapacitors with Machine Learning 
  </h3>
  <li>
    <b>Supervisors:</b> Dr. Naimeh Naseri (Health and Energy Lab) - Dr. Mohammad (Karen) Qorbani (National Taiwan University, Taiwan)
  </li>
  <hr class="mid-section">
  <h3>
    Investigation of Multiple Reuse of In625 Powder's Effect on Mechanical Performance of Additively Manufactured (SLM) Products Using Machine Learning Approaches 
  </h3>
  <li>
    Additive Manufacturing and Materials Lab at MAPNA
  </li>
</div>


<hr class="top-section">
<h1>Skills</h1>
<hr>
<p>

  <table width="100%" style="font-size: 18px">
    <tr>
      <td>Python</td>
      <td>Machine Learning</td>
    </tr>
    <tr>
      <td>Deep Learning</td>
      <td>Image Processing</td>
    </tr>
    <tr>
      <td>Cyclic Voltammetry</td>
      <td>Chronoamperometry</td>
    </tr>
    <tr>
      <td>Linear Sweep Voltammetry</td>
      <td>XRD</td>
    </tr>
    <tr>
      <td>SEM</td>
      <td>TEM</td>
    </tr>
    <tr>
      <td>CATIA</td>
      <td>ORIGIN-Lab</td>
    </tr>
    <tr>
      <td>Xpert</td>
      <td>Selective Laser Melting</td>
    </tr>
    <tr>
      <td>Leadership</td>
      <td>Team work</td>
    </tr>
    <tr>
      <td>Critical Thinking</td>
      <td>Social Speaking</td>
    </tr>
  </table> 
</p>

<hr class="top-section">
<h1>Languages</h2>
<hr>
<div style="font-size: 20px">
<p>
<p>
<b>Persian:</b> Native <br/>
</p>
<p>
<b>English:</b> <b>TOEFL (iBT) 108</b>
<div style="font-size: 16px"><li>Reading: 29 - Listening: 30 - Speaking: 27 - Writing: 22  (Taken at September 25th 2022) 
</li></div>
</p>
</p>
</div>




<hr class="top-section">
<h1>Courses</h1>
<hr>
<div style="font-size: 18px">
  <p>
    <p>
      <h3>Python for Data Science and Machine Learning Bootcamp - Udemy - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2021</span></h3>
      <li>
        Learned how to use NumPy, Pandas, Seaborn, Matplotlib, Scikit-Learn and TensorFlow.
      </li>
    </p>
    <hr class="mid-section">
    <p>
      <h3>Machine Learning Engineering for Production (MLOps) Specialization - Andrew Ng - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span></h3>
      <li>
        Learned how to conceptualize, build and maintain integrated systems that continuously operate in production.
      </li>
    </p>
    <hr class="mid-section">
    <p>
      <h3>Practical Deep Learning for Coders - Fast.ai - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span></h3>
      <li>
        Learned how to build and train Deep Learning models for Computer Vision.
      </li>
    </p>
  </p>
</div>


<hr class="top-section">
<h1>References</h1>
<hr>
<h2>Dr. Abdolreza (Arash) Simchi</h2>
<li>
  Professor at Sharif University of Technology - Department of Materials Science and Engineering
  andInstitute for Nanoscience and Nanotechnology (INST)
</li>
<li>
  Email: simchi@sharif.edu
</li>


<h2>Dr. Mohammad (Karen) Qorbani</h2>
<li>
  Postdoctoral Researcher at National Taiwan University (NTU) - Center for Condensed
  Matter Sciences (CCMS)
</li>
<li>
  Email: mqorbani@ntu.edu.tw
</li>


<hr class="top-section">

</main>
