---
layout: default
title: Resume
permalink: /resume/
---


<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">

  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
  <!-- <script src="https://kit.fontawesome.com/1baae62b3f.js" crossorigin="anonymous"></script> -->
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <style>
      a {
        text-decoration: none;
        color: rgb(255, 136, 0);
        /* font-size: 30px; */
      }
      h1 {
        text-align: center;
        /* background-color: rgb(199, 199, 199); */
      }
      hr {
        margin-top: 20px;
      }
      .mid-section {
        width: 50%;
        opacity: 0.4;
      }
      tr {
        text-align: center;
        /* margin: 100px; */
      }
      .top-section {
        height:4px;
        border-width:0;
        color:gray;
        background-color:gray;
        margin-top: 80px;
      }
      td {
        background-color: rgb(218, 218, 218);
        padding: 12px;
        border-radius: 15px;
        /* margin: 10px; */
      }

      i {
        font-size: 300px;
      }
      h3 {
        opacity: 0.7;
      }
      .iconify {
        font-size: 20px;
        opacity: 0.6;
      }
      #icon-phone, #icon-location, #icon-mail, #icon-telegram, #icon-whatsapp {
        opacity: 0.6;
      }

      .download-resume {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0px;
      }

      .download-button {
        border-radius: 10px;
        width: 240px;
        height: 40px;
        border-width: 2px;
        border-color: rgb(255, 136, 0);
        background-color: white;
        border-style: solid;
        color: rgb(255, 136, 0);
      }

      .download-button:hover {
        border-radius: 10px;
        width: 240px;
        height: 40px;
        border-width: 2px;
        border-color: rgb(255, 136, 0);
        background-color: rgb(255, 228, 212);
        border-style: solid;
        color: rgb(255, 136, 0);
        cursor: pointer;
      }
    </style>


      <div class="blog-logo" {% if site.logo %}style="background-image: url({{ site.logo | prepend: site.baseurl }})"{% endif %}>
        {{ site.title }}
      </div>
    <h1 class="blog-title" style="font-size: 35px;">Homayoon Alimohammadi</h1>
    <h2 style="text-align: center; opacity: 0.7; font-style:italic;">Software Engineer</h2>
    <br/>
    <div style="opacity: 1; text-align:center">
     <p style="font-size: 18px;">
      <i id="icon-phone" style="font-size:24px" class="fa">&#xf095;</i>&nbsp;
      <i id="icon-telegram" style="font-size:22px" class="fa">&#xf2c6;</i>&nbsp;
      <i id="icon-whatsapp" style="font-size:24px" class="fa">&#xf232;</i>&nbsp;
       +98 912 0190 397  &emsp;&emsp;
       <i id="icon-location" style="font-size:24px" class="fa">&#xf041;</i>&nbsp;
       Tehran, Iran
     </p>
     <p style="font-size: 18px;">
        <i style="font-size:22px" class="fa" id="icon-mail">&#xf0e0;</i>&nbsp;
         homayoonalimohammadi@gmail.com
       </p>
     <a href="mailto: homayoonalimohammadi@gmail.com" style="font-size:35px" class="fa fa-envelope"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://twitter.com/homayoonalm" style="font-size:35px" class="fa fa-twitter"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://www.linkedin.com/in/homayoon-alimohammadi/" style="font-size:35px" class="fa fa-linkedin"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://github.com/homayoonalimohammadi" style="font-size:35px" class="fa fa-github"
     target="_blank" rel="noopener noreferrer"></a>&emsp;
     <a href="https://homayoonalimohammadi.github.io" style="font-size:35px" class="fa fa-globe"
     target="_blank" rel="noopener noreferrer"></a>
     
    </div>
    <div class="download-resume">
      <a href="https://drive.google.com/file/d/1hCNwp6SlGVGT-dQLVf3Dp1_G3IGevAXa/view"
      target="_blank" rel="noopener noreferrer">
        <button class="download-button">
          
            <span class="iconify" style="font-size:18px" data-icon="fa-solid:download"></span>
            <span style="font-size: 18px;">
              <b>Resume PDF</b>
          </span>
         
        </button>
      </a>
    </div>
    
</header>

<main class="content" role="main">



<div>
<hr class="top-section">
<h1>About Me</h1>
<hr>
<p style="font-size: 18px;">
I'm a passionate and hard-working <b>Software Engineer</b>. Focused on learning and improving every single day.<br/>
Interested in <b>Site Reliability Engineering</b>, <b>Cloud Architecture</b> and <b>Machine Learning</b>.<br/>
</p>
</div>


<hr class="top-section">
<h1>Work Experience</h1>
<hr>
<div>
<h2>AI Developer</h2>

<p><h3>
Research Center of Nanostructured and Advanced Materials (CNAM)
<a href="https://cnam.ir/" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</h3>
</a>
</p>
<span style="font-style:italic">
05/2021 - Present &emsp;&emsp;&emsp;&emsp; Tehran, Iran

<p>
Leading research lab in the fields of nanostructured and advanced materials
</p>
</span>
<li>
Participated in 2 journal papers regarding use cases of Machine Learning in Materials Science.
</li>
<li>
Optimization of Solar Cells with Machine Learning
</li>
<li>
Multiple Semantic Segmentation projects for various image datasets in the regarding field.
</li>
</div>

<hr class="mid-section">

<div>
<h2>Deep Learning Course TA</h2>
<p>
<h3>AI-Medic
<a href="https://aimedic.co/" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h3>
</p>
<span style="font-style:italic;">
08/2021 - 10/2021 &emsp;&emsp;&emsp;&emsp; Tehran, Iran
<p>
AI-Medic is a start-up studio, aiming to offer AI products in the healthcare industry
</p>
</span>
<li>
Trained about 15 competent Data Science and Deep Learning students. 
</li>
</div>

<hr class="mid-section">

<div>
<h2>Deep Learning Apprentice</h2>
<p>
  <h3>AI-Medic
  <a href="https://aimedic.co/" target="_blank" rel="noopener noreferrer">
  <i class="fa">&#xf08e;</i>
  </a>
  </h3>
  </p>
  <span style="font-style:italic;">
01/2021 - 08/2021 &emsp;&emsp;&emsp;&emsp; Tehran, Iran
<p>
AI-Medic is a start-up studio, aiming to offer AI products in the healthcare industry
</span>
</p>
<li>
Achieved a competitive model with a dice score of 0.92/1 regarding semantic segmentation of PCa MRI Images. <br/> 
</li>
</div>


<hr class="top-section">
<h1>Education</h1>
<hr>
<div>
<h2>B.Sc. in Materials Science and Engineering</h2>
<p>
<h3>
  Sharif University of Technology
<a href="https://en.sharif.edu/" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h3> 
<span style="font-style:italic">
2018 - Present &emsp;&emsp;&emsp;&emsp; Tehran, Iran<br/>
</span>
</p>
<li>
<b>Project</b>: Investigating various usecases of Machine Learning in MSE
</li>

</div>

<hr class="mid-section">

<div>
<h2>High School Diploma</h2>  
<p>

<h3>Allame-Helli 1 High School
<a href="https://en.wikipedia.org/wiki/Allameh_Helli_High_Schools" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h3>
<span style="font-style:italic;">
2014 - 2018 &emsp;&emsp;&emsp;&emsp; Tehran, Iran<br/>
</span>
</p>
<li>
<b>GPA</b>: &emsp; 19.96 / 20
</li>
</div>

<hr class="top-section">
<h1>Skills</h1>
<hr>
<p>

  <table width="100%" style="font-size: 18px">
    <tr>
      <td><span class="iconify" data-icon="akar-icons:python-fill"></span> &emsp; Python</td>
      <td><span class="iconify" data-icon="akar-icons:django-fill"></span> &emsp; Django</td>
    </tr>
    <tr>
      <td><span class="iconify" data-icon="akar-icons:django-fill"></span> &emsp; Django REST Framework</td>
      <td><span class="iconify" data-icon="raphael:db"></span> &emsp; SQL</td>
    </tr>
    <tr>
      <td><span class="iconify" data-icon="clarity:design-solid"></span>
        &emsp; Design Patterns</td>
      <td><span class="iconify" data-icon="bx:code-alt"></span>
        &emsp; Object Orientation</td>
    </tr>

    <tr>
      <td><span class="iconify" data-icon="clarity:fast-forward-solid"></span>
        &emsp; Agile</td>
      <td><span class="iconify" data-icon="foundation:loop"></span>
        &emsp; CI / CD</td>
    </tr>
    
    <tr>
      <td><span class="iconify" data-icon="eos-icons:neural-network"></span>
        &emsp; Machine Learning</td>
      <td><span class="iconify" data-icon="carbon:chart-line-data"></span>
        &emsp; Data Science and Analysis</td>
    </tr>
   
  </table> 
</p>

<hr class="top-section">
<h1>Projects</h1>
<hr>
<div>

<h2>E-Commerce Web App v2.0
<a href="https://github.com/HomayoonAlimohammadi/eCommerce-Django-React" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h2>
<li>
Built an E-Commerce Web App, Powered by Django, Django REST Framework and JWT paired with an amazing Single App Front-end paradigm, with the help of React, Redux, Axios, React Bootstrap and many more.
</li>
<li>
PostgreSQL was used as the Database of the project
</li>
<li>
CI/CD were taken case of by the means of Unit Testing, GitHub Workflows and Docker
</li>
</div>

<hr class="mid-section">

<div>

<h2>Recipe App
  <a href="https://github.com/HomayoonAlimohammadi/Backend-API-REST" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h2>
<li>
Built a Backend API with Django REST Framework with Test Driven Development in mind
</li>
</div>

<hr class="mid-section">

<div>

<h2>E-Commerce Web App v1.0
<a href="https://github.com/HomayoonAlimohammadi/Commerce" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h2>
<li>
Built an E-Commerce Web App, Powered by Django, with simple HTML, CSS and Bootstrap
</li>
<li>
PostgreSQL was used as the Database of the project
</li>
<li>
CI/CD were taken case of by the means of Unit Testing, GitHub Workflows and Docker
</li>
</div>

<hr class="mid-section">

<div>
<h2>Email App
  <a href="https://github.com/HomayoonAlimohammadi/Mail" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h2>
<li>
Developed a Single Page Application with the help of Django, HTML, CSS and JavaScript, specifically React
</li>
</div>

<hr class="mid-section">

<div>
<h2>Prostate Semantic Segmentation
  <a href="https://github.com/HomayoonAlimohammadi/Prostate-Segmentation" target="_blank" rel="noopener noreferrer">
<i style="font-size:20px" class="fa">&#xf08e;</i>
</a>
</h2>
<li>
Built a competitive model with a Dice Score of 0.92/1 regarding semantic segmentation of PCa MRI Images. 
</li>
</div>

<hr class="top-section">
<h1>Courses</h1>
<hr>

<div style="font-size: 20px">
<p>
  <p>
    Data Engineering Nanodegree Progam - <a target="_blank" rel="noopener noreferrer" href="https://www.udacity.com/course/data-engineer-nanodegree--nd027">Udacity</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">Ongoing...</span>
  </p>
  <p>
    The Complete SQL Bootcamp - <a target="_blank" rel="noopener noreferrer" href="https://www.udemy.com/course/the-complete-sql-bootcamp/">Udemy</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
  </p>
<p>
Software Engineering - <a target="_blank" rel="noopener noreferrer" href="https://www.edx.org/course/software-engineering-introduction?index=product&queryID=27fd68f09ae1f8a6987a3ccfa62143f3&position=1">edX (UBC)</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
</p>
<p>
Blockchain Technology - <a target="_blank" rel="noopener noreferrer" href="https://www.edx.org/course/blockchain-technology?index=product&queryID=0f550ab1d5f8d1b5e5537bbddd8ef9aa&position=1">edX (UC Berkeley)</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
</p>
<p>
CS50's Web Programming with Python and JavaScript - <a target="_blank" rel="noopener noreferrer" href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript?index=product&queryID=3ea0282c099d92f2fc7d2a245c3c93b5&position=2">edX (Harvard)</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>

</p>
<p>
Data Structures & Algorithms with Python - <a target="_blank" rel="noopener noreferrer" href="https://www.udemy.com/course/data-structures-algorithms-python/">Udemy</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
</p>
<p>
Django and React Integration - <a target="_blank" rel="noopener noreferrer" href="https://www.udemy.com/course/django-with-react-an-ecommerce-website/">Udemy</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
</p>
<p>
Backend REST API with Python and Django - <a target="_blank" rel="noopener noreferrer" href="https://www.udemy.com/course/django-python-advanced/">Udemy</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
</p>

<p>
Django REST Framework - <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=c708Nf0cHrs&t=20828s&ab_channel=CodingEntrepreneurs">Youtube</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2022</span>
</p>
<p>
  Django Framework - <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=SlHBNXW1rTk&list=PLEsfXFp6DpzRMby_cSoWTFw8zaMdTEXgL&ab_channel=CodingEntrepreneurs">YouTube</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2021</span>
  </p>
  <p>
    Machine Learning - <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=CzdWqFTmn0Y&list=PLfYUBJiXbdtSyktd8A_x0JNd6lxDcZE96&ab_channel=JeremyHoward">fast.ai</a>
    &
    <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/learn/machine-learning?">Coursera</a> - <span style="font-style:italic; font-size:16px; opacity: 0.7;">2021</span>
    </p>
</p>
</div>

<hr class="top-section">

<h1>Achievements</h2>
<hr>
<div style="font-size: 20px">
<p><b>Ranked top 0.5%</b><br/>
Iran's National 2018 Universities Entrance Exam for B.Sc. (Konkur)
</p>
</div>

<hr class="top-section">

<h1>Languages</h2>
<hr>
<div style="font-size: 20px">
<p>
<p>
<b>Persian:</b> Native <br/>
</p>
<p>
<b>English:</b> Full Professional Proficiency
</p>
</p>
</div>

<hr class="top-section">

<h1>Interests</h1>
<hr>
<p>
<!-- Blockchain &emsp; - &emsp; Cload Computing &emsp; - &emsp; Distributed Systems &emsp; - &emsp; Machine Learning -->
<table width="100%" style="font-size: 18px">
  <tr align="center">
    <td><span class="iconify" data-icon="icon-park-outline:blockchain"></span>
      &emsp; Blockchain</td>
    <td><span class="iconify" data-icon="akar-icons:cloud"></span>
 &nbsp; Cloud Computing</td>
  </tr>
  <tr>
    <td><span class="iconify" data-icon="bx:network-chart"></span>
&nbsp;      Distributed Systems</td>
    <td><span class="iconify" data-icon="carbon:machine-learning-model"></span>&nbsp;   
        <span class="iconify" data-icon="raphael:db"></span>
&nbsp;      Data Engineering</td>
  </tr>
</table>

</p>

<hr class="top-section">

</main>
